* {
    margin: 2px;
    padding: 2px;
}
.hero {
    color: white;
    background-color: blue;
    text-align: center;
}

#search-city{
    border: solid black;
}

#weather-info{
    border: solid black;
}

#search-form{
    border-bottom: solid black;
}

.city-btn {
    margin:4px 0;
    width: 100%;

}
.search-btn {
    margin:4px 0;
    width: 100%;

}